.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
92-160-g2016002-eng.pdf
T1701EN.CSV
aggregate_dissemination_area.html
lada000b16a_e.*
Canada-census_layout.png
RWordPress_howto_post.html
RWordPress_howto_post.log
RWordPress_howto_post.tex
globalmoransi.png
howto.html
ztest.png
